{% extends 'base.html.twig' %}

{% block title %}Liste des Groupes{% endblock %}

{% block body %}

    <main class="page-content">
        <div class="container-fluid">
            <h1 class="title-content">Alliances du serveur</h1>

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="row justify-content-end">
                <a href="{{ path('add-Alliance') }}" class="btn btnForm btn-sm"><i class="fas fa-plus"></i> Créer
                    un groupe</a>
            </div>
            <br>
            <table class="table table-striped shadow p-3 mb-5 bg-white rounded">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>nom</th>
                    <th>serveur</th>
                    <th>cadran</th>
                </tr>
                </thead>
                <tbody>
                {% for alliance in alliances %}
                    <tr>
                        <td>{{ alliance.id }}</td>
                        <td>{{ alliance.name }}</td>
                        <td>{{ alliance.serveur }}</td>
                        <td>{{ alliance.cadran }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}