{% extends 'base.html.twig' %}

{% block title %}Liste des alliances{% endblock %}

{% block body %}
    <h1>Liste des alliances</h1>
    <section class="container">

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>nom</th>
                <th>cadran</th>
            </tr>
            </thead>
            <tbody>
            {% for alliance in alliances %}
                <tr>
                    <td>{{ alliance.id }}</td>
                    <td>{{ alliance.name }}</td>
                    <td>{{ alliance.cadran }}</td>
                    <td>
                        <a href="{{ path('edit-Alliance',{ id:alliance.id }) }}" class="btn btn-success btn-sm"><i
                                    class="fas fa-pen"></i> Modifier</a>
                        <a href="{{ path('delete-Alliance',{ id:alliance.id }) }}" class=" btn btn-danger btn-sm"><i
                                    class="fas fa-trash"></i> Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}