{% extends 'base.html.twig' %}

{% block title %}Modifier troupes{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    {{ form_start(form) }}

    <section class="container">


        {% if form.imperian is defined and form.caesaris is defined %}
            {{ form_row(form.imperian) }}
            {{ form_row(form.caesaris) }}
        {% endif %}

        {% if form.phalange is defined and form.druide is defined %}
            {{ form_row(form.phalange) }}
            {{ form_row(form.druide) }}
        {% endif %}

        {% if form.gourdin is defined and form.teuton is defined %}
            {{ form_row(form.gourdin) }}
            {{ form_row(form.teuton) }}
        {% endif %}

        {{ form_row(form.belier) }}
        {{ form_row(form.catapulte) }}

        {{ form_row(form.Enregistrer) }}


    </section>
    {{ form_end(form) }}



  {#  <table>
        <tr>
            <th>Titre du film</th>
            <td>Massacre à la tronçonneuse</td>
            <td>Les bisounours font du ski</td>
            <td>Lucky Luke, seul contre tous</td>

        </tr>
        <tr>
            <th>Pour enfants ?</th>
            <td>Non, trop violent</td>
            <td>Oui, adapté</td>
            <td rowspan="2">Pour toute la famille !</td>
        </tr>
        <tr>
            <th>Pour adolescents ?</th>
            <td>Oui</td>
            <td>Pas assez violent...</td>
        </tr>
    </table>#}

{% endblock %}