{{ form_start(form) }}

<div class="page-content">
        <div class="card col-7 shadow p-3 mb-5 mt-5 rounded">
            <div class="card-body">

            {% if form.imperian is defined and form.caesaris is defined %}
                {{ form_row(form.imperian) }}
                {{ form_row(form.caesaris) }}
            {% endif %}


            {% if form.phalange is defined and form.druide is defined %}
                {{ form_row(form.phalange) }}
                {{ form_row(form.druide) }}
            {% endif %}


            {% if form.gourdin is defined and form.teuton is defined %}
                {{ form_row(form.gourdin) }}
                {{ form_row(form.teuton) }}
            {% endif %}

            {{ form_row(form.belier) }}

            {{ form_row(form.catapulte) }}

            {{ form_row(form.Enregistrer, {'attr': {'class':'btn btn-lg btnForm btn-lg btn-block'}}) }}
            </div>
    </div>
</div>
{{ form_end(form) }}