{% extends 'base.html.twig' %}

{% block title %}Admin - Créer un serveur{% endblock %}

{% block body %}
    <section class="d-flex justify-content-center">
        <div class="card col-5">
            <div class="card-body">

                <h3 class="card-title titleForm" style="text-align: center;">Créer un serveur</h3>
                <br>

                {{ form_start(form) }}

                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </div>

                <div class="text-center">
                    {{ form_row(form.Ajouter, {'attr': {'class':'btn btn-lg btnForm btn-lg btn-block'}}) }}
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </section>
{% endblock %}