{% extends 'base.html.twig' %}

{% block title %}Admin - Modifier serveur{% endblock %}

{% block body %}
    {# retour liste users#}
    <div class="row justify-content-start">
        <a href="{{ path('admin-List-Serveurs') }}"><i class="fas fa-angle-left"></i> retour à la liste des
            serveurs</a>
    </div>

    <section class="d-flex justify-content-center">
        <div class="card col-5">
            <div class="card-body">

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <h3 class="card-title titleForm" style="text-align: center;">Modifier le serveur ?</h3>
                <br>

                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </div>

                <div class="text-center">
                    <button class="btn btn-lg btnForm btn-lg btn-block" type="submit">Ajouter</button>

{#                    {{ form_row(form.Modifier) }}#}
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}