{% extends 'base.html.twig' %}

{% block title %}Modifier serveur{% endblock %}

{% block body %}

    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="page-content row">
            <div class="card">
                <div class="card-body">

                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <h3 class="card-title" style="text-align: center;"> Modifier serveur?</h3>
                    {{ form_start(form) }}
                    <div class="form-group">
                    {{ form_row(form.name) }}
                    </div>
                    <div class="text-center">
                    {{ form_row(form.Modifier, {'attr': {'class':'btn btn-lg btnForm btn-lg btn-block'}}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>
{% endblock %}

