{% extends 'base.html.twig' %}

{% block title %}Modifier serveur{% endblock %}

{% block body %}

    <section class="d-flex justify-content-center">
        <div class="card col-5">
            <div class="card-body">

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <h3 class="card-title titleForm" style="text-align: center;"> Modifier serveur?</h3>
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.Modifier) }}
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}

