
{% extends 'base.html.twig' %}

{% block title %}Liste des serveurs{% endblock %}

{% block body %}

    {% if is_granted('ROLE_USER') %}
        <section class="container">
            <a class="navbar-brand col text-right" href="{{ path('edit-User', {id:user.id}) }}"><i class="fas fa-user"> Profil</i></a>

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <h4>Choisissez votre serveur: </h4>

            <div class="container">
                <select name="serveur" class="form-control Serveur::class">
                    {% for serveur in serveurs %}
                        <option value="{{ serveur.name }}">{{ serveur.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </section>
    {% endif %}
{% endblock %}


