{% extends 'base.html.twig' %}

{% block title %}S'inscrire - toolProject{% endblock %}

{% block body %}

    <div class="container vh-100">
        <div class="page-content row align-items-center">
            <div class="card">
                <div class="card-body">

                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <h3 class="card-title">S'inscrire</h3>

                    {{ form_start(form) }}

                    <div class="form-group">
                        {{ form_label(form.email) }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr' : {'class' : 'mb-3', 'placeholder' : 'email@example.com'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.username) }}
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.username, {'attr' : {'class' : 'mb-3', 'placeholder' : 'Pseudo'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_row(form.serveur, {label_attr: {class: 'checkbox-custom'}}) }}
                    </div>

                    {#ok#}
                    <div id="choicePeuple" class="form-group" style="display: none">
                        {{ form_row(form.peuple) }}
                    </div>

                    <div class="form-group">
                        {{ form_row(form.plainPassword, {'attr' : {'class' : 'mb-3'}}) }}
                    </div>

                    {# uniquement pour un utilisateur ayant le role admin #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="form-group">
                            {{ form_row(form.roles, {label_attr: {class: 'checkbox-custom'}}) }}
                        </div>
                    {% endif %}

                    <div class="text-center">
                        <button class="btn btn-lg btnForm btn-lg btn-block" type="submit">Ajouter</button>
                    </div>
                    {{ form_end(form) }}
                    <br>

                        <a href="{{ path('app_login') }}">Déjà un compte? connectez vous</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#user_serveur").on('change',function(){
            if ($(this).val() !== ''){
                $("#choicePeuple").show('fast');
            }else{
                $("#user_peuple").val('');
                $("#choicePeuple").hide('fast');

            }
        });
    </script>
{% endblock %}