{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
    <h2>Modifier</h2>

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.username) }}
    {{ form_row(form.roles) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.Modifier) }}
    {{ form_end(form) }}

{% endblock %}
