{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil - ToolProject{% endblock %}

{% block body %}
    <div class="container vh-100">

        <a class="ml-5" href="{{ path('admin-list-Users') }}"><i class="fas fa-angle-left"></i> retour à la liste</a>

        <div class="page-content row align-items-center">
            <div class="card">
                <div class="card-body">

                    <h3 class="card-title">Modifier</h3>
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.email) }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr' : {'class' : 'mb-3', 'placeholder' : 'email@example.com'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.username) }}
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.username, {'attr' : {'class' : 'mb-3', 'placeholder' : 'Pseudo'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_row(form.serveur, {label_attr: {class: 'checkbox-custom'}}) }}
                    </div>

                    <div id="choicePeuple" class="form-group" style="display: none">
                        {{ form_row(form.peuple) }}
                    </div>

                    <div class="form-group">
                        {{ form_row(form.plainPassword, {'attr' : {'class' : 'mb-3'}}) }}
                    </div>

                    {# uniquement pour l'admin #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="form-group">
                            {{ form_row(form.roles, {label_attr: {class: 'checkbox-custom'}}) }}
                        </div>
                    {% endif %}

                    <div class="text-center">
                        <button class="btn btn-lg btnForm btn-lg btn-block" type="submit">Modifier</button>
                    </div>
                    <br>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <script>
        const userServeur = $("#user_serveur");
        const choicePeuple = $("#choicePeuple");
        $(document).ready(function () {
            manageChoicePeuple();
        });

        userServeur.on('change', function () {
           manageChoicePeuple();
        });

        function manageChoicePeuple(){
            if (userServeur.val() !== '') {
                choicePeuple.show('fast');
            } else {
                choicePeuple.hide('fast');

            }
        }
    </script>
{% endblock %}
