{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}

    {#retour liste users#}
    <div class="row justify-content-start">
        <a href="{{ path('list-Users') }}" ><i class="fas fa-angle-left"></i> retour à la liste utilisateurs</a>
    </div>
    <br>
    <h2>Modifier</h2>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.username) }}
    {{ form_row(form.roles) }}
    {{ form_row(form.serveur) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.Modifier) }}
    {{ form_end(form) }}
{% endblock %}
