{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs {% endblock %}

{% block body %}

    <div class="page-content">
        <div class="container-fluid">
            <h3 class="title-content">Utilisateurs du {{ serveurs.name }}</h3>

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <table class="table table-striped shadow p-3 mb-5 bg-white rounded">

                <thead class="thead-dark">
                <tr>
                    <th>Pseudo</th>
                    <th>Peuple</th>
                </tr>
                </thead>
                <tbody>
                {% for user in listeUsers %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.Peuple }}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}